body {
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  margin: 0;
  min-width: 600px;
  min-height: 100vh;
  font-family: "Pretendard";
  overflow-y: auto;
  overflow-x: hidden;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
.header {
  width: 100%;
  height: 103px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #000;
  font-size: 32px;
  line-height: 28px;
}

.header-container {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#logo {
  margin-left: 100px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  cursor: pointer;
  &:hover {
    background-color: #e9e9e9;
  }
}
#before-arrow {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  left: 0;
}

.user-menu {
  display: none;
  list-style-type: none;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1000;
  margin: 0;
  background-color: #d9d9d9;
  padding: 4px 24px;
}
.user-menu li {
  text-align: center;
}
.user-menu li a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: 400;
}
.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #7f6aee;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: opacity 0.5s ease;
  opacity: 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px 80px;
  border-radius: 8px;
  text-align: center;
}
.modal-button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #7f6aee;
  color: white;
}
#cancel-delete {
  background-color: black;
  color: white;
}
.modal-button:hover {
  background-color: #6a5ae0;
}
.modal-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}
.modal-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
