.post-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 50px;
}
.post-container {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-container .title {
  width: 100%;
}
.post-container .title-items-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.author-logo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.edit-button {
  width: 50px;
  height: 27px;
  border-radius: 8px;
  border: 1px solid black;
  cursor: pointer;
}
.post-line {
  width: calc(100% + 40px);
  height: 1px;
  background-color: #d9d9d9;
  margin: 30px 20px;
}
.main-image {
  width: 544px;
  height: 306px;
  background-color: gray;
}
.post-content .likes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.post-container .likes-item {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  width: 116px;
  height: 77px;
  border: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 20px;
  cursor: pointer;
}
.post-container .likes-item p {
  margin: 0px;
}
#comment {
  width: 504px;
  height: 74px;
  padding: 10px 20px;
  border: none;
}
#comment-button {
  width: 138px;
  height: 39px;
  border: none;
  background-color: #d9d9d9;
  color: white;
  border-radius: 20px;
  margin: 10px 0px;
  align-self: flex-end;
  cursor: not-allowed;
}
.comment-container {
  width: 504px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.comment-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.comment-item-header {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.comment-item-author {
  margin-left: 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}
.comment-item-date {
  margin-left: 10px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
}
.comment-item-content {
  width: 100%;
  height: 100%;
  padding: 0 0 0 30px;
}
.comment-edit-container {
  position: absolute;
  right: 0;
  top: calc(50% - 27px);
}
